{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
<!-- ===================================== banner section start ===================================== -->
<div class="about-banner">
    <div class="container">
        <div class="about-page-banner-section">
            <div class="about-banner-asrea">
                <h4>
                    ABOUT US
                </h4>
                <div class="about-page-blank-color">

                </div>
                <p>
                    We are the Gyru App company based in Kent, United Kingdom. We started our journey with the idea of
                    making an App that will connect people, who want to learn driving, with the best driving
                    instructors. Our motto is to help people find their instructors through the app and make their life
                    easier.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ===================================== banner section start ===================================== -->
<!-- ===================================== 1st section start ===================================== -->
<div class="container">
    <div class="about-section">
        <div class="about-section-details">
            <div class="about-section-img">
                <img src="{% static 'img/card/about-1.png' %}" alt="">
            </div>
        </div>
        <div class="about-section-details ">
            <h2>
                Concepts
            </h2>
            <div class="about-blank-line y-c">

            </div>
            <p>
                Our main concept is to connect the best driving instructors with the learners via a simple App. In any
                location where Gyru app operates, a user can easily find a driving instructor and start learning to
                drive. Moreover, experts affiliated with App industry have worked with the concept.
            </p>
        </div>
    </div>
</div>


<!-- ===================================== 1st section end ===================================== -->

<!-- ===================================== 2nd section end ===================================== -->


<div class="back-yellow">
    <div class="container">
        <div class="about-section cloum-rev">

            <div class="about-section-details">
                <h2 class="text-white">
                    Our Mission
                </h2>
                <div class="about-blank-line w-c">

                </div>
                <p class="text-white">
                    Our mission is to connect the learner with the best driving instructor in the shortest possible time
                    without any hassle. Also, we want to help users avoid unwanted gap during a driving lesson and
                    eradicate the difficulty of making an appointment to learn driving.
                </p>
            </div>

            <div class="about-section-details">
                <div class="about-section-img">
                    <img src="{% static 'img/card/our-mission1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===================================== 2nd section end ===================================== -->


<!-- ===================================== 3th section start ===================================== -->


<div class="container">
    <div class="about-section">
        <div class="about-section-details">
            <div class="about-section-img">
                <img src="{% static 'img/card/Our-Obstacles2.png' %}" alt="">
            </div>
        </div>
        <div class="about-section-details">
            <h2>
                Our Obstacles
            </h2>
            <div class="about-blank-line y-c">

            </div>
            <p>
                Wireframe sketch is neat, but some dots were not connecting to each other. One of our experts came up
                with some brilliant yet simple solution to connect the dots.
            </p>
            <p>
                It was difficult for us to choose the right platform for back-end functionalities. Finally, we decided
                to work on Firebase.
            </p>
            <p>
                We are lacking professional instructors on board. In this circumstance, our company director appointed
                an approved driving instructor (ADI).
            </p>
        </div>
    </div>
</div>


<!-- ===================================== 3th section end ===================================== -->

<!-- ===================================== 4th section start ===================================== -->


<div class="back-yellow">
    <div class="container">
        <div class="about-section cloum-rev">

            <div class="about-section-details">
                <h2 class="text-white">
                    Our Promise
                </h2>
                <div class="about-blank-line w-c">

                </div>
                <p class="text-white">
                    Our promise is to make the process as easy and simple as possible. We are making this app in a way
                    that will benefit both the learners and instructors.
                </p>
            </div>

            <div class="about-section-details">
                <div class="about-section-img">
                    <img src="{% static 'img/card/Our-Promise3.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ===================================== 4th section end ===================================== -->


<!-- ===================================== 5th section start ===================================== -->


<div class="container">
    <div class="about-section">
        <div class="about-section-details">
            <div class="about-section-img">
                <img src="{% static 'img/card/Conclusion2.png' %}" alt="">
            </div>
        </div>
        <div class="about-section-details">
            <h2>
                Conclusion
            </h2>
            <div class="about-blank-line y-c">

            </div>
            <p>
                In this era of fast-moving world, driving is an unavoidable need/In this fast-moving-era, driving is an
                essential need. As a result, people look for the best instructor to learn driving and we help them
                connect. We would like to be remembered by turning their problem into solution.
            </p>
        </div>
    </div>
</div>


<!-- ===================================== 6th section end ===================================== -->


<!-- ===================================== footer section start ===================================== -->

{% endblock %}